= wrap_layout :layout do
  #blog_wrapper.blog_post
    .container
      .row
        .span8
          %h1.header
            = current_article.title
          .post_content
            = yield
            %a.pull-right.action#rss_link{:href => "/blog/feed.xml"}
              = image_tag 'feed-icon-28x28.png', :alt => "RSS"
            - if current_article.data.author && current_article.date
              .author
                Posted by
                = current_article.data.author
              .date
                on
                =current_article.date.strftime('%b %d, %Y') + "."
            - unless current_article.tags.empty?
              .tags
                Tagged
                = current_article.tags.map{|tag| link_to(tag, tag_path(tag))}.join(', ') + "."

          - prev_article = current_article.previous_article
          - next_article = current_article.next_article
          %ul.pager
            - if prev_article
              %li.previous
                %a{ :rel => "prev", :href => prev_article.url } &larr; Previous Article
            - else
              %li.previous.disabled
                %span &larr; Previous Article
            - if next_article
              %li.next
                %a{ :rel => "next", :href => next_article.url } Next Article &rarr;
            - else
              %li.next.disabled
                %span Next Article &rarr;

          #disqus_thread
          :javascript
            var disqus_container_id = 'disqus_thread',
                disqus_domain = 'disqus.com',
                disqus_shortname = 'cappuccino',
                disqus_url = 'http://www.cappuccino-project.org/#{request.path}',
                disqus_developer = 0;

          - if data.page.wordpress_url and data.page.wordpress_id
            :javascript
              var disqus_identifier = '#{data.page.wordpress_id} #{data.page.wordpress_url}';
          - else
            :javascript
              var disqus_identifier = '#{File.basename(current_page.source_file || request.path).parameterize}';

          :javascript
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a{ :href => "http://disqus.com/?ref_noscript" }
              comments powered by Disqus.
          %a.dsq-brlink{ :href => "http://disqus.com"}
            comments powered by
            %span.logo-disqus Disqus

        = partial :blog_sidebar
