<!doctype html>

%html
  %head
    %title= content_for?(:title) ? yield_content(:title) : (data.page.title || "Cappuccino Web Framework - Build Desktop Class Applications in Objective-J and JavaScript")
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/img/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/blog/feed.xml", :rel => "alternate", :title => "Cappuccino Blog Feed", :type => "application/atom+xml"}

  - containing_path = request.path
  - classes = "file-" + File.basename(containing_path).parameterize
  - while containing_path = File.dirname(containing_path) and containing_path != "." and containing_path != "/"; classes << " folder-" + containing_path.parameterize; end

  %body{:class => classes}
    %a.scrolltop{:href => "#"}
      %span up

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"}
            %img{:alt => "logo", :src => "/img/cappuccino-website-logo.png"}/
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li
                %a.scroller{:href => "/#features"} Features
              %li
                %a.scroller{:href => "/downloads.html#download"} Download
              %li
                %a{:href => "/learn/"} Learn
              %li
                %a{:href => "/contribute.html"} Contribute
              %li
                %a{:href => "/blog/"} Blog
              %li
                %a{:href => "/learn/documentation/"} API

    = yield

    #footer
      .container
        .row
          .span6.links
            %h3 Links
            .row
              .span2
                %h4 Get Started
                = link_to "Features", "/#features"
                = link_to "Tutorials", "/learn/"
                = link_to "Download", "/downloads.html"
                = link_to "API Docs", "/learn/documentation/"
              .span2
                %h4 Contribute
                %a
                = link_to "Bug reports", "/contribute.html#bug-reports"
                = link_to "Source code", "https://github.com/cappuccino/cappuccino"
                = link_to "Wiki", "https://github.com/cappuccino/cappuccino/wiki"
                = link_to "Donate", "https://www.gittip.com/for/cappuccino/"
              .span2
                %h4 Get Answers
                = link_to "Support", "/support/"
                = link_to "Mailing list", "http://groups.google.com/group/objectivej"
                = link_to "Cappuccino Gitter", "https://gitter.im/cappuccino/cappuccino"
                = link_to "#cappuccino IRC", "http://webchat.freenode.net/?channels=cappuccino"
                = link_to "Blog", "/blog/"
                = link_to "FAQ", "/support/faq.html"
          .span6.stats
            %h3 Project Stats
            .row
              .span2
                %h4 Build
                = link_to "https://travis-ci.org/cappuccino/cappuccino" do
                  %img{:src => "https://travis-ci.org/cappuccino/cappuccino.png?branch=master"}

        %hr
          .row.copyright
            .span2
              %h3 Social
              %a.social.tw{:href => "https://twitter.com/cappuccino"}
                %i.i_twitter
            .span8.copyright2
              :markdown
                ![](/img/minisofa.png) Logo by [Sofa](http://madebysofa.com). Hosted by [SlevenBits](http://slevenbits.com). Copyright &copy; 2013 - Cappuccino Project.
            .pull-right.forkme
              %p
                = link_to "Fork and edit this site.", "https://github.com/cappuccino/cappuccino.org"
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/theme.js"}
