- wrap_layout :layout do
  - prev_topic = nil
  - next_topic = nil
  - current_topic = ["Unnamed Topic", "/"]

  .container.learn
    %h2.section_header
      %hr.left.visible-desktop
      %span Learn
      %hr.right.visible-desktop

    .row
      .span3
        %ul.nav.nav-tabs.nav-stacked
          - data.learn.pages.each_with_index do |a_topic, i|
            - if current_page.data.topic_index == i
              - current_topic = a_topic
            - if current_page.data.topic_index - 1 == i
              - prev_topic = a_topic
            - if current_page.data.topic_index + 1 == i
              - next_topic = a_topic

            %li{:class => i == current_page.data.topic_index ? "active" : nil}
              %a{:href => "/learn/" + a_topic[1]}
                = a_topic[0]

        %h5 Resources
        %ul.nav.nav-tabs.nav-stacked
          %li
            = link_to "Documentation", "/learn/documentation/"

      .span9.text-body
        %h3
          = current_topic[0]
        = yield

    .row
      .offset3.span9
        .learn-nav
          %ul.pager
            - if prev_topic
              %li.previous
                = link_to prev_topic[1] do
                  &larr; Return to '
                  = prev_topic[0]
                  '
            - else
              %li.previous.disabled
                %span
                  &larr; Previous
            - if next_topic
              %li.next
                = link_to next_topic[1] do
                  Continue to '
                  = next_topic[0]
                  ' &rarr;
            - else
              %li.next.disabled
                %span
                  Next &rarr;
