- all_topics = data.learn.pages + data.learn.reference
- current_index = all_topics.find_index {|topic| request.path == topic[1]}
- content_for :title, "Cappuccino - #{all_topics[current_index][0]}"

= wrap_layout :layout do
  .container.learn
    %h2.section_header
      %hr.left.visible-desktop
      %span Learn
      %hr.right.visible-desktop

    .row
      .span3
        %ul.nav.nav-tabs.nav-stacked
          - data.learn.pages.each_with_index do |a_topic, i|
            %li{:class => i == current_index ? "active" : nil}
              = link_to a_topic[0], "/" + a_topic[1]

        %h5 Resources
        %ul.nav.nav-tabs.nav-stacked
          - data.learn.reference.each_with_index do |a_topic, i|
            %li{:class => i + data.learn.pages.length == current_index ? "active" : nil}
              = link_to a_topic[0], "/" + a_topic[1]

      .span9.text-body.markdown
        - if current_index != nil
          %h3
            = all_topics[current_index][0]
        = yield

    - next_topic = current_index != nil && current_index < all_topics.length - 1 ? all_topics[current_index + 1] : nil;
    - prev_topic = current_index != nil && current_index > 0 ? all_topics[current_index - 1] : nil;
    .row
      .offset3.span9
        .learn-nav
          %ul.pager
            - if prev_topic
              %li.previous
                = link_to "/" + prev_topic[1] do
                  &larr; Return to '
                  = prev_topic[0]
                  '
            - else
              %li.previous.disabled
                %span
                  &larr; Previous
            - if next_topic
              %li.next
                = link_to "/" + next_topic[1] do
                  Continue to '
                  = next_topic[0]
                  ' &rarr;
            - else
              %li.next.disabled
                %span
                  Next &rarr;
