---
pageable: true
per_page: 10
layout: blog
---

%h1.header
  Blog
  %hr
- page_articles.each do |current_article|
  .post
    .row
      .span3
        %a{:href => current_article.url}
          %img.main_pic{:src => current_article.data.image || "/img/1154865_61618748.jpeg"}
      .span4.info
        %a{:href => current_article.url}
          %h3= current_article.title
        %p= current_article.summary
        .post_info
          .date
            = current_article.date.strftime('%b %d, %Y')
    %a.btn{:href => current_article.url} Read

.pagination
  %ul
    %li{:class => prev_page ? "" : "disabled"}
      - if prev_page
        %a{:href => prev_page.url} Prev
      - else
        %span Prev
    - (page_number - 2 ... page_number + 3).select{|i| i > 0 && i <= num_pages}.each do |i|
      - if i == page_number
        %li.active
          %span= i
      - else
        %li
          %a{:href => i > 0 ? "/blog/page/#{i}" : "/blog/"}= i
    %li{:class => next_page ? "" : "disabled"}
      - if next_page
        %a{:href => next_page.url} Next
      - else
        %span Next
